.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.content {
  z-index: 2;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  color: var(--font-color-secondary);
  font-size: 40px;
  font-weight: bolder;
}

.image {
  object-fit: cover;
  border-radius: 5px;
}
.imageBackground {
  position: absolute;
  opacity: 0.7;
  bottom: 0px;
  /* background: linear-gradient(
    180deg,
    rgba(231, 233, 224, 0) 0%,

    var(--font-color-secondary) 100%
  ); */
  height: 100%;
  width: 200px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  padding-top: 130px;
}
.descriptionContainer {
  position: absolute;
  top: 0;
  width: 500px;
  height: 500px;
  background-color: var(--primary);
  margin-top: 10px;
  padding: 5px;
  line-height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-x: scroll;
}
.titleContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: sepia();
  -webkit-backdrop-filter: sepia();
  transition: transform 200ms ease-in;
  padding: 7px;
  background: var(--secondary);
  border-radius: 30px;
}
.slideTitle {
  color: var(--font-color);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  word-break: break-word;
  text-align: center;
  text-shadow: 1px 1px 3px var(--shadow);
}

.modalTitle {
  color: var(--font-color);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

.modalDescription {
  text-align: justify;
  padding-top: 20px;
  text-align: justify;
  padding-top: 20px;
  letter-spacing: -1px;
  text-wrap: wrap;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.modalDescription > p {
  padding: 7px 0;
}

.imagesContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;
  width: 100%;
}
.imagesContainerWrapper {
  height: auto;
}

.navigationDisabled {
  opacity: 0;
}
.imageContainer {
  position: relative;
  transition: transform 200ms ease-in;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.imageContainer:hover {
  transform: scale(1.1);
  .descriptionContainer {
    display: initial;
  }
  .titleContainer {
    transform: scale(1.2);
  }
}

.modal {
  position: absolute;
  top: 20%;
  overflow-y: auto;
  max-width: 550px;
  max-height: 500px;
  background: var(--primary);
  margin-top: 10px;
  padding: 10px 25px 35px;
  gap: 10px;
  line-height: 20px;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 3;
}

/* This will affect the entire page */
.modal::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.modal::-webkit-scrollbar-track {
  background: var(--primary); /* color of the tracking area */
}

.modal::-webkit-scrollbar-thumb {
  background: var(--secondary); /* color of the scroll thumb */
}

.modal::-webkit-scrollbar-thumb:hover {
  background: var(
    --font-color-secondary
  ); /* color of the scroll thumb when hovering */
}

.closeButton {
  all: unset;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 50px;
}

.closeButton:hover {
  background: var(--green);
}

.closeButton:active {
  background: var(--green);
}

.closeButton img {
  width: 25px;
  height: 25px;
  padding: 3px;
  margin: auto;

  user-select: none;
  -webkit-user-drag: none;
}

@media (max-width: 870px) {
  .title {
    font-size: 30px;
  }
  .imageContainer {
    width: 100%;
    gap: 10px;
  }
}

@media (max-width: 647px) {
  .title {
    font-size: 30px;
  }

  /* .imagesContainer {
    flex-direction: column;
    max-width: 515px;
    width: 100%;
    gap: 10px;
  }
  .imageContainer {
    height: 170px;
    width: 100%;
  } */

  .imageBackground {
    bottom: 0;
  }
  /* .image {
    width: 100%;
    height: 100%;
  } */
}

/* RESPONSIVENESS */

@media (max-width: 515px) {
  .titleContainer p {
    font-size: 18px;
    word-spacing: initial;
  }
}

@media (max-width: 375px) {
  .titleContainer p {
    font-size: 14px;
  }
}
