.content {
  z-index: 2;
  width: 70%;
  min-width: 271px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 35px;
}

/* TODO: highlight header title */
/* 
.content::after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: var(--primary);
  box-shadow: 1px 1px 20px var(--primary);
  transform: translate(10px, 10px);
}

.content::before {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: var(--secondary);
  box-shadow: 1px 1px 20px var(--secondary);
  transform: translate(-10px, -10px);
} */

.title {
  color: var(--white);
  text-shadow: 1px 1px 3px var(--shadow);
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}

.subTitle {
  color: var(--font-color);
  font-weight: bolder;
  text-align: justify;
  max-width: 500px;
  text-shadow: 1px 1px 3px var(--shadow);
  font-size: 18.72px;
}

.box {
  all: unset;
  box-sizing: border-box;
  width: fit-content;
  height: 50px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;

  font-size: 14px;

  /* Effect */
  animation: 3000ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s infinite normal
    none running glowingEffect;
  box-shadow: 0 0 0 2px var(--secondary);
}

.box:hover {
  filter: brightness(90%);
}

.box:active {
  filter: brightness(110%);
}

.boxTitle {
  font-size: 20px;
  font-weight: 500;
  text-shadow: 1px 1px 3px var(--shadow);
  color: var(--white);
}
/* typing start */
.typingSlider {
  font-family: Consolas, monospace;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.typingSlider p {
  position: relative;
  display: inline;
  font-size: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  animation: slide 15s step-start infinite;
}

.typingSlider p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid black;
  background: "transparent";
  z-index: 1000;
  animation: typing 5s infinite, cursor 1s infinite;
}

.typingSlider p:nth-child(1) {
  animation-delay: 0s;
}
.typingSlider p:nth-child(1)::after {
  animation-delay: 0s;
  animation-timing-function: steps(16), step-end;
}

.typingSlider p:nth-child(2) {
  animation-delay: 5s;
}
.typingSlider p:nth-child(2)::after {
  animation-delay: 5s;
  animation-timing-function: steps(23), step-end;
}

.typingSlider p:nth-child(3) {
  animation-delay: 10s;
}
.typingSlider p:nth-child(3)::after {
  animation-delay: 10s;
  animation-timing-function: steps(12), step-end;
}

@media (max-width: 640px) {
  .content {
    width: 100%;
    gap: 50px;
  }
}

@media (max-width: 515px) {
  .content {
    width: 100%;
  }
  .title {
    font-size: 20px;
  }
  .boxTitle {
    font-size: 16px;
    font-weight: 500;
  }
  .box {
    max-width: fit-content;
    align-self: flex-end;
    height: 40px;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 16px;
  }
  .boxTitle {
    font-size: 12px;
    font-weight: 500;
  }
  .box {
    max-width: fit-content;
    max-height: fit-content;
    height: auto;
    width: auto;
  }
}

@keyframes glowingEffect {
  0%,
  33% {
    box-shadow: 0 0 0 2px var(--secondary), 0 0 0 var(--secondary);
  }

  66%,
  100% {
    box-shadow: 0 0 0 2px var(--secondary), 0 0 0 10px rgba(101, 84, 192, 0.01);
  }
}
/* typing start */
@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@keyframes typing {
  from {
    width: 100%;
  }
  90%,
  to {
    width: 0;
  }
}
@keyframes slide {
  33.3333333333% {
    font-size: 3rem;
    letter-spacing: 3px;
  }
  to {
    font-size: 0;
    letter-spacing: 0;
  }
}
/** typing end */
