.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-y: hidden;
}
.mainSection {
  background-color: var(--primary);
  height: auto;
  width: 100%;
  padding-inline: 66px;
  padding-block: 50px;
  position: relative;
  max-height: 500px;
  min-height: 500px;
}
.secondarySection {
  height: 700px;
  width: 100%;
  padding-inline: 86px;
  padding-block: 50px;
}

.profileSection {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1100px;
  padding: 20px 25px;
  margin-inline-end: auto;
  height: 600px;
  background-color: var(--primary);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 700px;
  min-height: 500px;
  filter: opacity(0.7);
  object-position: 50% 30%;
  user-select: none;
  -webkit-user-drag: none;
}

/* Responsive rules for DESKTOP LG */

@media (max-width: 1200px) {
  .mainSection {
    max-height: initial;
  }
}

/* Responsive rules for profile DESKTOP MD */
@media (max-width: 1100px) {
  .profileSection {
    width: 100%;
    height: auto;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: 100vh;
    padding: 20px 25px;
    margin-inline-end: auto;
    background-color: var(--primary);
  }
  .mainSection {
    padding-inline: 56px;
  }
  .secondarySection {
    padding-inline: 56px;
  }
}

/* End Responsive rules for profile */

@media (max-width: 870px) {
  .mainSection {
    padding-inline: 46px;
  }
  .secondarySection {
    padding-inline: 46px;
  }
  .logo {
    font-size: 18px;
  }
}

/* Responsive rules for profile DESKTOP X MOBILE */

@media (max-width: 646px) {
  .profileSection {
    width: 100%;
    height: 550px;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: none;
    padding: 20px 25px;
    margin-inline-end: auto;
    background-image: linear-gradient(
      90deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}

/* End Responsive rules for profile DESKTOP X MOBILE */

@media (max-width: 515px) {
  .mainSection {
    padding-inline: 46px;
  }
  .secondarySection {
    padding-inline: 46px;
  }
  .logo {
    font-size: 18px;
  }
}

@media (max-width: 376px) {
  .mainSection {
    padding-inline: 26px;
  }
  .secondarySection {
    padding-inline: 26px;
  }
  .logo {
    font-size: 18px;
  }
}
