.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    var(--primary) 42%,
    var(--secondary) 100%
  );
  border-radius: 0 300px 300px 0;
}

.profileWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;

  transition: filter 200ms ease;
}

.profileWrapper:hover {
  filter: brightness(0.9);
}

.profileImage {
  width: 525px;
  height: 586px;
  border-radius: 0 0 150px 150px;
  user-select: none;
  -webkit-user-drag: none;
}

/**/

.profilePlayBtn {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 80px;
  height: 80px;
  transition: transform 200ms ease-in-out;
}

.profilePlayBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/**/

.articleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  z-index: 3;
}

.titleWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.titleWrapper p {
  color: var(--white);
  text-align: start;
  font-size: 40px;
  font-weight: bolder;
  width: 70%;
  text-shadow: 1px 1px 3px var(--shadow);
}

.articleListWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  text-align: justify;
  hyphens: auto;
}

.articleListWrapper > li {
  all: unset;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;

  /* Font style */
  color: var(--font-color);
  font-weight: bold;
  font-size: 18px;
}

.articleListWrapper > p {
  /* Font style */
  color: var(--font-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  width: 70%;
  text-shadow: 1px 1px 3px var(--shadow);
}

.articleListWrapper > li img {
  width: 40px;
  height: 40px;
}

/* RESPONSIVE DESIGN DESKTOP MD*/

@media (max-width: 1100px) {
  .container {
    width: 100%;
    height: 100%;
    max-height: 96.7vh;
    border-radius: 0 100px 100px 0;
    gap: 10px;
    overflow: hidden;
  }
  .titleWrapper p {
    width: 100%;
  }
  .profileWrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .profileImage {
    width: 100%;
    border-radius: 0 0 100px 0;
    object-fit: cover;
  }

  .articleWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
  }

  .articleListWrapper > li {
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 10px;

    /* Font style */
    font-size: 16px;
  }

  .articleListWrapper > p {
    font-size: 16px;
    width: 100%;
  }

  .articleListWrapper > li img {
    width: 25px;
    height: 25px;
  }
}

/* RESPONSIVE MOBILE X DESKTOP */

@media (max-width: 646px) {
  .container {
    padding: initial;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: initial;
    gap: 15px;
    background-image: initial;
  }

  .profileWrapper {
    display: flex;
    width: 100%;
    height: 120px;
    margin-bottom: -50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: initial;
    position: relative;
    bottom: 170px;
  }

  .profileImage {
    width: fit-content;
    height: 270px;
    object-fit: cover;
    border-radius: initial;
    z-index: 1;
  }

  .profilePlayBtn {
    position: absolute;
    top: 0;
    right: 20%;
    width: 120px;
    height: 80px;

    transition: transform 200ms ease-in-out;
    object-fit: contain;
    border-radius: 10px;
    padding: 7px;
    z-index: 0;
    background: rgba(5, 82, 80, 0.5);
  }

  .articleWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    padding: 20px 25px;

    row-gap: 15px;
    width: 100%;
    border-radius: 20px;
    background-image: linear-gradient(
      180deg,
      rgba(5, 82, 80, 0) 0%,
      var(--primary) 40%,
      var(--primary) 100%
    );
  }
  .titleWrapper p {
    font-size: 30px;
  }
  .articleListWrapper > li {
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 10px;

    /* Font style */
    font-size: 16px;
  }
  .articleListWrapper > p {
    font-size: 16px;
  }
  .articleListWrapper > li img {
    width: 25px;
    height: 25px;
  }
  .articleWrapper {
    background-image: linear-gradient(
      180deg,
      rgba(5, 82, 80, 0) 0%,
      var(--primary) 30%,
      var(--primary) 100%
    );
  }
}

/* mobile */
@media (max-width: 575px) {
  .profileImage {
    width: 220px;
    height: 266px;
  }
  .articleWrapper {
    bottom: 20px;
  }
  .articleListWrapper > li {
    font-size: 14px;
  }
  .articleListWrapper > p {
    font-size: 14px;
  }
  .titleWrapper p {
    font-size: 25px;
  }
}

/* mobile */
@media (max-width: 454px) {
  .profileWrapper {
    bottom: 180px;
  }
  .profilePlayBtn {
    right: 10%;
  }
  .profileImage {
    width: 200px;
    height: 246px;
  }
  .articleListWrapper > p {
    font-size: 14px;
  }
  .titleWrapper p {
    font-size: 20px;
  }
  .articleWrapper {
    bottom: -10px;
    background-image: linear-gradient(
      180deg,
      rgba(5, 82, 80, 0) 0%,
      var(--primary) 20%,
      var(--primary) 100%
    );
  }
}
